.div1{
    border: 2px solid black;

    /* Now try all the different display blocks */
    /* display: block; */
    /* display: inline-block; */
    display: inline;
    margin: 5px;
}

.div2{
    border: 2px solid black;
    margin: 5px;
    width: 200px;
    height: 200px;
    padding: 10px;

    /* box-sizing: content-box */
    /* Default content - box */

    box-sizing: border-box;
    /* border-box - includes padding and border in width and height */
}

.outline{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    outline: 2px solid red;
    outline-offset: 10px;
    margin: 10px;
}

.div3{
    font-size: 40px;
    text-shadow: 2px 2px 5px red;
}

.div4{
    border: 2px solid black;
    display: inline-block;
    min-width: 50px;
    max-width: 570px;
}

.relative-position{
    width: 200px;
    height: 200px;
    border: 2px solid black;

    position: relative;
    top: 50px;
    left: 50px;
}

.absolute-position{
    border: 1px solid black;

    /* Important */
    position: absolute;
    top: 0px;
    right: 0px;

    width: 50%;
    height: 50%;
}

.fixed-position{
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    padding: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.overflow{
    
}